body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0c0c0;
}

section {
  background: #001f3f;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  /*transisi untuk membuat efek muncul*/
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
/*show untuk menunjukkan transisi*/
section.show {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input,
select {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000000;
}

button {
  background-color: #001f3f;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#progress-bar-container {
  width: 80%;
  max-width: 600px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 20px 0;
}

#progress-bar {
  width: 0;
  height: 20px;
  background-color: #001f3f;
  border-radius: 8px;
  transition: width 0.5s ease-out;
}
